<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.ds.mybatis.mapper.TopicMapper">

	<cache/>

	<select id="fetch" resultType="Topic">
		select id, name from topic where id = #{id}
	</select>
	
	<select id="list" resultType="Topic">
		select id, name from topic order by id
	</select>

	<insert id="insert" parameterType="Topic" useGeneratedKeys="true" keyProperty="id">
		insert into topic (name) values (#{name})
	</insert>

	<insert id="update" parameterType="Topic">
		update topic set name=#{name} where id = #{id}
	</insert>

</mapper>